.scooby-section, .dimitra-section, .elise-section, .chen-section {
    color: purple;
    font-size: 20px;
    font-family: scoobydoo;
}

.dimitra-bio, .chen-bio, .elise-bio, .scooby-bio {
    display: flex;
    flex-direction: row;
    position: relative;
    color: transparent;
    word-wrap: wrap;
    width: 500px;
    left: 500px;
}

.hide {
    display: none;
     word-wrap: wrap;
    width: 500px;
    left: 500px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.elise {
    position: relative;
    color: magenta;
    left: 380px;
    bottom: 447px;
    text-shadow: 10px 5px 10px black;
}

.scooby {
    position: relative;
    color: magenta;
    left: 120px;
    bottom: 595px;
    text-shadow: 10px 5px 10px black;
}

.chen {
    position: relative;
    color: magenta;
    left: 290px;
    bottom: 220px;
    text-shadow: 10px 5px 10px black;
}

.dimitra {
    position: relative;
    color: magenta;
    left: 210px;
    top: 140px;
    text-shadow: 10px 5px 10px black;
}

.elise-bio:hover, .scooby-bio:hover, .chen-bio:hover, .dimitra-bio:hover, .elise-section:hover, .chen-section:hover, .dimitra-section:hover, .scooby-section:hover {
    color: white;
    cursor: help;
    text-shadow: 10px 5px 10px rgb(0, 0, 0);
}

.gang {
    position: absolute;
    align-content: center;
    justify-content: center;
    margin-right: 600px;
    margin-top: 300px;
}

.aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
