.scooby {
    position: absolute;
    left: 120px;
    top: 375px;
    color: purple;
    font-size: 20px;
}

.dimitra {
    position: absolute;
    left: 210px;
    top: 345px;
    color: purple;
    font-size: 20px;
}

.elise {
    position: absolute;
    left: 390px;
    top: 350px;
    color: purple;
    font-size: 20px;
}

.chen {
    position: absolute;
    left: 300px;
    top: 345px;
    color: purple;
    font-size: 20px;
}


.elise:hover, .chen:hover, .dimitra:hover, .scooby:hover {
    color: rgb(0, 197, 232);
    cursor: help;
}

.aboutus {
    display: grid;
    grid-template-columns: 6;
}

.gang {
    display: grid;
    grid-column: 2;
    margin-left: 30%;
}

.bk_Img {
    grid-column: 1;

}

.sup {
    font-family: triforce;
}