.scooby-section, .dimitra-section, .elise-section, .chen-section {
    color: purple;
    font-size: 20px;
    font-family: scoobydoo;
}

.dimitra-bio, .chen-bio, .elise-bio, .scooby-bio {
    position: relative;
    color: transparent;
    word-wrap: wrap;
    width: 500px;
    left: 500px;
}

.elise {
    position: relative;
    color: magenta;
    left: 400px;
    bottom: 400px;
    text-shadow: 10px 5px 10px black;
}

.scooby {
    position: relative;
    color: magenta;
    left: 120px;
    bottom: 510px;
    text-shadow: 10px 5px 10px black;
}

.chen {
    position: relative;
    color: magenta;
    left: 270px;
    bottom: 310px;
    text-shadow: 10px 5px 10px black;
}

.dimitra {
    position: relative;
    color: magenta;
    left: 210px;
    top: 190px;
    text-shadow: 10px 5px 10px black;
}

.elise-bio:hover, .scooby-bio:hover, .chen-bio:hover, .dimitra-bio:hover, .elise-section:hover, .chen-section:hover, .dimitra-section:hover, .scooby-section:hover {
    color: white;
    cursor: help;
    text-shadow: 10px 5px 10px black;
}

.gang {
    position: absolute;
    align-content: center;
    justify-content: center;
    margin-right: 100px;
    margin-top: 300px;
}