/* .App {
  text-align: center;
  z-index: 0.5;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: auto;
}

header {
  height: 150px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: triforce;
}

img {
  width: 500px;
  height: auto;
  margin-bottom: -160px;
  margin-left: -150px;
}

h1 {
  display: flex;
  justify-content: flex-start;
  margin-left: 200px;
  margin-top:  -55px;
}

.title-logo {
  display: flex;
  padding: 10px;
}

.logout-link {
  position: absolute;
  right: 60px;
  top: 125px;
}

.about-link {
  position: absolute;
  right: 120px;
  top: 125px;
}

.userpage-link {
  position: absolute;
  right: 190px;
  top: 125px;
}

.signup-link {
  position: absolute;
  right: 245px;
  top: 125px;
}

.signin-link {
  position: absolute;
  right: 305px;
  top: 125px;
}

.home-link {
  position: absolute;
  right: 360px;
  top: 125px;
}