/* .App {
  text-align: center;
  z-index: 0.5;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* *{
    box-sizing: border-box;
} */

html, body {
    height: 100%;
    width: 100%;
}

/* .Nav  {
    display: grid;
    grid-template-areas: 150px 1fr 75px / 1fr;
    background-color: black;
} */

header {
  /* border: solid 3px purple; */
  height: 150px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: triforce;
  font-size: 2rem;
  margin-bottom: 25px;
}

.triforce-logo {
  /* border: solid 3px blanchedalmond; */
  width: 175px;
  height: auto;
  margin: 0;
}

/* a {
  border: solid 4px red
} */

.title-logo {
  /* border: solid yellow 5px; */
  display: flex;
  padding: 10px;
}

.logout-link {
  position: absolute;
  right: 200px;
  top: 130px;
}

.about-link {
  position: absolute;
  right: 315px;
  top: 130px;
}

.userpage-link {
  position: absolute;
  right: 445px;
  top: 130px;
}

.signup-link {
  position: absolute;
  right: 540px;
  top: 130px;
}

.signin-link {
  position: absolute;
  right: 645px;
  top: 130px;
}

.home-link {
  position: absolute;
  right: 750px;
  top: 130px;
} 

.footer {
  /* border: solid turquoise 3px; */
  font-family: triforce;
  font-size: 2rem;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

