.Nav  {
    border: peachpuff 4px solid;
    display: grid;
    grid-template-areas: 125px 1fr 75px / 1fr 1fr 1fr 1fr;
    background-color: black;
}

h3 {
    border: yellow solid 2px;
    font-family: triforce;
    font-size: 3em;
    text-align: center;
    margin-top: 15px;
}

.button-div {
    border: turquoise 2px solid;
    height: 50%;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px
    margin 20px;
}

button {
    background: url(./dog_bone2.png) center no-repeat;
    background-size: 150px;
    border: transparent;
    cursor: pointer;
    width: 150px;
    height: 100px;
    font-family: scooby doo;
}

.title-section {
    border: red solid 2px;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* align-items: flex-start; */
}

.scooby-logo {
    border: blue solid 2px;
    margin-left: unset;
    margin-bottom: unset;
}

.bk_Img {
    border: orange solid 2px;
}

.the-gang {
    margin-left: unset;
    margin-bottom: unset;
}