.Nav  {
    display: grid;
    grid-template-areas: 125px 1fr 75px / 1fr 1fr 1fr 1fr;
    background-color: black;
}

h3 {
    font-family: triforce;
    font-size: 3.5em;
    display: flex;
}

.button-div {
    display: flex;
    justify-content: center;
}

.title-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.scooby-logo {
    /* display: flex;
    justify-content: center; */
}