.scoreboard-title {
        /* border: yellow solid 2px; */
    font-family: triforce;
    font-size: 2.5rem;
    text-align: center;
    padding: 0;
    margin-top: 30px;
    height: 150px;
    color: gold;
    margin-bottom: -50px;
    text-shadow: 10px 15px 15px rgb(44, 5, 88);
}

.footer {
  /* border: solid turquoise 3px; */
  font-family: triforce;
  font-size: 2rem;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-section {
    border: #0081df solid 4px;
    border-radius: 12%;
    background-color: #d1ff492f;
    width: 75%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.user {
  color: orange;
  text-shadow: 10px 10px 15px rgb(28, 150, 138);
}