body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

header {
    color: white;
}

.Nav{
    color: white;
}

.triv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: lime;
    height: 500px;
    border: 2px solid white;
}

.zombie {
    background-image: url('../logos/mystery-machine-icon.gif');

}
/* 
.werewolf {
    position: fixed;
    right: 450px;
}

.alien {
    position: fixed;
    top: 450px;
} */

.z-container {
    box-shadow: 5px 5px 25px 35px yellowgreen;
    border-radius: 100px;
    background-color: yellowgreen;
}