body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: black;
    align-items: center;
    
}

header {
    color: white;
}

.triv {
    color: white;
}

.freddy {
    display: flex;
    flex-direction: row;
    background-color: blue;

}

.questions {
    display: flex;
    width: 1000px;

}