body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: black;
    align-items: center;
}

header {
    color: white;
}

.triv {
    color: white;
    text-align: center;
    margin: 40px;
}

.questions {
    display: flex;
    width: 1000px;
    border: 15px double purple;
    border-radius: 20px;
    padding: 20px;
}

.buttons {
    justify-content: center;
}