body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: black;
    align-items: center;
}

header {
    color: white;
}

.triv {
    color: white;
    text-align: center;
    margin: 40px;
}

.questions {
    display: flex;
    flex-direction: column;
    width: 1000px;
    border: 15px double purple;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 35px 25px yellowgreen;
}

.buttons {
    justify-content: center;
}

.trivia-q {
    background-color: rgba(153, 205, 50, 0.612);
    padding: 20px;
    border-radius: 30px;
    font-family: scoobydoo;
}